@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./images/jeremy-thomas-O6N9RV2rzX8-unsplash.jpg);
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

img {
  display: block;
  max-width: 100%;
}

.body {
  background-color: #936272;
  margin: auto;
  width: fit-content;
  margin-top: 5em;
  margin-bottom: auto;
  border-radius: 0.5em;
}

header {
  display: flex;
  background-color: #cea0ae;
  padding: 0.5em;
  flex-direction: row;
  place-content: space-between;
  height: 2em;
  border-radius: 0.5em 0.5em 0 0;
}

.social {
  margin: 0.2em;
  display: flex;
  width: auto;
}

.logo {
  height: 100%;
  margin-left: 0.5em;
  cursor: pointer;
}

.menu {
  margin: auto auto auto 1.2em;
  height: 1rem;
  width: auto;
  cursor: pointer;
}

.hi {
  font-size: 1.2em;
  margin-right: 1.2em;
  cursor: pointer;
}

.menu-bar {
  display: block;
  padding: 1em;
  line-height: 2em;
  position: absolute;
  z-index: 999;
  background-color: #cea0ae;
  font-size: 2em;
  margin: 0.5em;
  width: 8em;
  border-radius: 0.5em;
  visibility: hidden;
  transition: width 2s ease-in-out;
}

.show-menu li {
  list-style-type: none;
}

.menu-bar li a {
  text-decoration: none;
  color: black;
}

.menu-bar li:hover {
  font-weight: bold;
}

.closeImg {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
  height: 1em;
  cursor: pointer;
}

.closeImg:hover {
  top: 0.95em;
  right: 0.95em;
  height: 1.1em;
}

.hero {
  width: 50em;
  margin: 5em;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2em;
  margin: 1em;
}

.container > li {
  background-color: #cea0ae;
  border-radius: 0.5em;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  padding: 3%;
}

.profilepic {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
  border-radius: 0.5em;
  box-shadow: 0.3em 0.3em 0.5em black;
}

.textBlock {
  text-align: center;
  padding: 1em;
  background-color: #d8edd4;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em 0.5em black;
}

.fullBlock {
  width: 50em;
  padding: 1em;
  margin: 4.8em;
  border: 0.2em solid black;
  border-radius: 0.5em;
}

.experience {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.experience img {
  max-width: 15em;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.description {
  padding: 0.5em;
  margin: auto;
}

footer {
  height: 0.01em;
}

ul {
  text-align: left;
}

@media only screen and (max-width: 1025px) {
  .body {
    width: 95%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .hero {
    width: auto;
    margin: 3em;
  }

  .fullBlock {
    width: auto;
    margin: 3em;
  }
}

@media only screen and (max-width: 960px) {
  .experience {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .experience img {
    max-width: 15em;
    aspect-ratio: 1/1;
  }
}
